.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.header>nav>ul{
    list-style: none;
    display:grid;
    grid-auto-flow: column;
    margin-top: 26px; 




    
}
.name{
    margin-left: 20px;
    color: white;
}


.header>nav>ul>li{
    display:grid;
    border: solid wheat 5px;
    place-items: center;
    padding: 5px;
    margin-right: 10px;

}
.nav{
    margin-left: 100px;
}
.header-container{
    background-color: turquoise;
    height: 300px;
    padding: 0px;
}

.h1{
  margin-left: 350px;
  color: white
  
  

}

.aboutme {
    text-align: center;
    height: 40px;
}


.section2 {
    background-color: pink;
    height: 320px;
    display: grid;

}

.p1 {
    text-align: center;
    color: white;
}

.ul2 {
    margin-left: 500px;

    

    


}

.ul1 {
    margin-right: 600px;
    margin-bottom: -75px;
}

.midle { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    

}
 .midle1 {
     border: solid crimson;
     margin-inline: 50px;
     margin-top: 20px;
     margin-bottom: 20px;
     background-color: white;
     padding-left: 9px;
     padding-right: 9px;
 }


 .midle2 {
    border: solid crimson;
    margin-inline: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 9px;
     padding-right: 9px;
 }


 .midle3 {
    border: solid crimson;
    margin-inline: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 9px;
     padding-right: 9px;
     
 }